body,
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    color: white;
    font-family: 'Comfortaa';
    font-weight: 100;
}

header {
    position: absolute;
    z-index: 3;
}

#header-content {
    display: flex;
    padding: 8px 0px;
    width: 100vw;
    justify-content: space-between;
}

#main-navigation {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    overflow-x: hidden;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: #3EC199;
}

main {
    width: 100%;
    min-height: 2500px;
    background: rgb(62, 193, 153);
    background: linear-gradient(0deg, rgba(62, 193, 153, 1) 0%, rgba(62, 167, 193, 1) 80%);
}

#guitar-overlay {
    position: relative;
    width: 100%;
    height: 80%;
    z-index: 1;
}

#guitar-opening {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
#guitar-opening img {
    width: 60vw;
}

#guitar-strings {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
#guitar-strings img {
    position: fixed;
    width: 30vw;
    pointer-events: none;
}

#hero-section {
    background-image: url('/Inspiration/guitar-music-strings-bass-guitar-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
    height: 35vw;
}

#hero-section::before {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 35vw;
    content: '';
}

#headline-content {
    position: absolute;
    z-index: 2;
    height: 35vw;
    width: 100vw;
    text-align: center;
    overflow: hidden;
}

#headline {
    margin-top: 1em;
    margin-bottom: 0.5em;
    ;
    font-size: 5em;
}

#headline span {
    color: #3EC199;
}

#sub-headline {
    max-width: 500px;
    margin: auto;
}

#call-to-action {
    margin: 2em auto;
}

#launch-practice {
    text-decoration: none;
    color: white;
}

#main-content {
    padding-top: 10em;
}

#virtual-fretboard-container {
    z-index: 2;
    margin: 2.5em;
    height: 1400px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50px
}

#virtual-fretboard-title {
    padding: 5em;
}

#virtual-fretboard-title h2 {
    margin: 0;
    text-align: center;
    font-size: 5em;
    background: -webkit-linear-gradient(90deg, rgba(62, 193, 153, 1) 0%, rgba(62, 167, 193, 1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#virtual-fretboard-control-panel {
    margin: 2em;
    height: 300px;
    border-radius: 30px;
    background-color: #3EC199;
}

#virtual-guitar-neck {
    position: relative;
    padding: 5em 0;
    height: 500px;
    width: inherit;
    overflow-x: scroll;
}

#virtual-guitar-neck img {
    position: absolute;
    width: auto;
    z-index: 2;
}

#virtual-frets-image {
    left: 126px;
}

#virtual-neck-image {
    left: 126px;
}

#virtual-strings-image {
    top: 90px;
    left: 40px;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
}