body,
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    color: white;
    font-family: 'Comfortaa';
}

header {
    overflow-x: hidden;
    position: absolute;
}

#header-content {
    display: flex;
    padding: 0.5em 0em;
    width: 100vw;
    justify-content: space-between;
    /* backdrop-filter: blur(100px); */
}

#hero-banner {
    background-image: url('/Inspiration/guitar-music-strings-bass-guitar-wallpaper-preview.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

/* #header-container {
    backdrop-filter: blur(2px) brightness(25%);
} */

#headline-content {
    margin-top: 34px;
}

#headline {
    font-size: 1em;
    text-align: center;
}

#sub-headline {
    text-align: center;
}

#call-to-action {
    text-align: center;
}

main {
    width: 100vw;
    min-height: 1600px;
    background: rgb(62, 193, 153);
    background: linear-gradient(0deg, rgba(62, 193, 153, 1) 0%, rgba(62, 167, 193, 1) 100%);
}

footer {
    color: white;
    background-color: black;
}

@media (max-width: 800px) {}