body {
    margin: 0;
    background-color: #3EA7C1;
}

#hero-image-container {
    display: flex;
}

#hero-image {
    position: absolute;
    width: 100vw;
    z-index: -2;
}

#main-navigation {
    display: flex;
    justify-content: space-between;
}

#nav-logo {
    
}

#main-navigation ul li {
    display: inline-block;
}

#header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px ) {

    #hero-image-container {
        justify-content: center;
    }

    #hero-image {
        object-fit: cover;
        min-width: 800px;
    }

}